@media screen and (min-width: 500px) {
.content .quire-figure {
    margin-left: 0;
    margin-right: 0;
  }
}

.boxed {
  border: 1px solid black ;
  background-color: #WhiteSmoke;
  margin: 20px;
  padding: 40px;
}

header {
  margin-top: 20px;
}
