// =============================================================================
// Fonts.scss
// -----------------------------------------------------------------------------
// Custom font declarations (if any) can be imported here
//

@font-face {
  font-family: “mia-grotesk”;
  src: url (“../fonts/mia-grotesk-regular.eot”);
          url:(“../fonts/mia-grotesk-regular.woff”) format(“woff”),
          url (“../fonts/mia-grotesk-regular.ttf”) format(“truetype”);
  font-weight: 400;
  font-style: normal;
}

// mia-grotesk italic
@font-face {
  font-family: “mia-grotesk”;
  src: url (“../fonts/mia-grotesk-regularitalic.eot”);
          url (“../fonts/mia-grotesk-regularitalic.woff”) format(“woff”),
          url (“../fonts/mia-grotesk-regularitalic.ttf”) format(“truetype”);
  font-weight: 400;
  font-style: italic;
}

// mia-grotesk bold
@font-face {
  font-family: “mia-grotesk”;
  src: url (“../fonts/mia-grotesk-bold.eot”);
          url (“../fonts/mia-grotesk-bold.woff”) format(“woff”),
          url (“../fonts/mia-grotesk-bold.ttf”) format(“truetype”);
  font-weight: 700;
  font-style: normal;
}

// mia-grotesk bold italic
@font-face {
  font-family: “mia-grotesk”;
  src: url (“../fonts/mia-grotesk-boldiItalic.eot”);
          url (“../fonts/mia-grotesk-bolditalic.woff”) format(“woff”),
          url (“../fonts/mia-grotesk-bolditalic.ttf”) format(“truetype”);
  font-weight: 700;
  font-style: italic;
}

// mia-grotesk light
@font-face {
  font-family: “mia-grotesk”;
  src: url: (“../fonts/mia-grotesk-light.eot”);
          url (“../fonts/mia-grotesk-light.woff”) format(“woff”),
          url (“../fonts/mia-grotesk-light.ttf”) format(“truetype”);
  font-weight: 200;
  font-style: normal;
}

// mia-grotesk light italic
@font-face {
  font-family: “mia-grotesk”;
  src: url (“../fonts/mia-grotesk-lightitalic.eot”);
          url (“../fonts/mia-grotesk-lightitalic.woff”) format(“woff”),
          url (“../fonts/mia-grotesk-lightitalic.ttf”) format(“truetype”);
  font-weight: 200;
  font-style: italic;
}

// mia-grotesk black
@font-face {
  font-family: “mia-grotesk”;
  src: url (“../fonts/mia-grotesk-black.eot”);
          url (“../fonts/mia-grotesk-black.woff”) format(“woff”),
          url (“../fonts/mia-grotesk-black.ttf”) format(“truetype”);
  font-weight: 800;
  font-style: normal;
}

// mia-grotesk black italic
@font-face {
    font-family: “mia-grotesk”;
  src: url (“../fonts/mia-grotesk-blackitalic.eot”);
          url (“../fonts/mia-grotesk-blackitalic.woff”) format(“woff”),
          url (“../fonts/mia-grotesk-blackitalic.ttf”) format(“truetype”);
  font-weight: 800;
  font-style: italic;
}
